<div>
	<h1>testStPage</h1>
	<ul>
		<li>{{name}}</li>
		<li>{{age}}</li>
		<li>400</li>
	</ul>
</div>


{{!-- {{#each this}}
<li class="product__item">
	<div class="product-card">
		<div class="product-card__img-container">
			<img class="product__image" src="{{imageUrls}}" alt="" />
			<button class="buttons close-button">
				<svg width="24" height="24" class="close-button-icon">
					<use href="../images/sprite.svg#icon-close-black"></use>
				</svg>
			</button>
		</div>
		<p class="title">{{title}}</p>
		<p class="old-price">{{oldPrice}}</p>
		<p class="price">{{price}}</p>
	</div>
</li>
{{/each}} --}}

{{!-- {{#each this}}
<li class="product__item">
	<div class="product-card">
		<div class="product-card__img-container">
			<img class="product__image" src="{{imageUrls}}" data-sourse="{{largeImageURL}}" alt="" />
			<button class="buttons close-button" data-modal-register-close>
				<svg width="24" height="24" class="close-button-icon">
					<use href="../images/sprite.svg#icon-close-black"></use>
				</svg>
			</button>
		</div>
		<p class="title">{{title}}</p>
		<p class="old-price">{{oldPrice}}</p>
		<p class="price">{{price}}</p>
	</div>
</li>
{{/each}} --}}